# 1.What are the two values of the Boolean data type? How do you write them?

In [1]:
a= True
b= False

# 2. What are the three different types of Boolean operators?

#                                and               or                  not

# 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [7]:
# and operator 
#use case = if both are true then true otherwise if anyone is false then false

#here                        true= 1                                      0 = false 

#                          a         b       result
#                          1         1        1
 #                         1         0        0
  #                        0         1        0
  #                       0          0       0

In [8]:
# or operator 
#use case = if both are false then false otherwise if anyone is truee then true

#here                        true= 1                                      0 = false 

#                          a         b       result
#                          1         1        1
 #                         1         0        1
  #                        0         1        1
  #                       0          0       0

In [10]:
# not operator 
# use case = it just opposes the result output if we are getting true it makes it false
 #here                        true= 1                                      0 = false
    
    #                          a           result
    #                           1            0
     #                          0            1

# 4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [11]:
(5 > 4) and (3 == 5)

False

In [12]:
not (5 > 4)

False

In [13]:
 (5 > 4) or (3 == 5)

True

In [16]:
(True and True) and (True == False)
# (1 and 1) = 1 (true)
# (1==0)    = 0(false)
# 1 and 0   = 0(false)(as mentioned in answer)

False

In [17]:
(not False) or (not True)
# not 0 = 1
# not 1 = 0
# 1 or 0= 1(true )(as mentioned in output)

True

# 5. What are the six comparison operators?

In [44]:
aayush= 7
subhanshi= 4

In [45]:
aayush==subhanshi

False

In [46]:
aayush >subhanshi

True

In [47]:
aayush < subhanshi

False

In [48]:
aayush >= subhanshi

True

In [49]:
aayush<=subhanshi

False

In [51]:
aayush != subhanshi

True

# 6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [24]:
# equal to use case
# this operator is used to assign value to some particular variable for e.g.
b=9 
c= 7
a = b+c

False

In [3]:
a
#here a represents the use case of adding b+c

16

In [25]:
# use case of assignment operator 
# it simple check for the equality
b=5
a=9
c=4
d=4

In [26]:
a==b

False

In [27]:
c==d

True


# 7. Identify the three blocks in this code:

In [8]:
spam = 0
if spam == 10:
       print("eggs")
if spam >5:                          #i am does not able to underatnd what is this question asking 
        print("bacon")
else:
    print("ham")
    print("spam")
    print("spam")

ham
spam
spam

# i have rewrite the code agin because in question pdf many indentation problems has oocured

# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [38]:
spam = int(input())
if spam==1:
    print("hello")
elif spam==2:
    print("howdy")
else:
    print("grettings")

1
hello

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

In [11]:
#ctrl +c

NameError: name 'ctrl' is not defined

# 10. How can you tell the difference between break and continue?

# continue use ---  it simply avoid that case which it is verifying

In [17]:
a="aayush is a boy"
for i in a:
    if i=="s":
        continue
        print("hlo")
    else:
        print(i)

a
a
y
u
h

i

a

b
o
y

# Break use-- it breaks the code at that point where it is verified

In [18]:
a="aayush is a boy"
for i in a:
    if i=="s":
        break
        print("hlo")
    else:
        print(i)

a
a
y
u

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

# All have same meaning

In [32]:
for i in  range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in  range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
for i in  range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [27]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10