#                                         assignment no.1 basic

# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [12]:
#1st question
#to determine this we use type function intially we declare all the given things in variables

a="hello"
b= -87.8
c=6
#all upper three are values(condition for value- all type of integer and string)
#proof of this is mentioned below

In [13]:
type(a)

str

In [14]:
type(b)

float

In [15]:
type(c)

int

In [ ]:
d= *
e= -
f=/
g= +

In [23]:
type(d)

str

In [22]:
type(g)

int

In [24]:
#f and g is also count in value

In [47]:
#e and f is count in mathematical expression

#                                            {next question start}  2

# 2nd que - what is the difference b/w string and variable

In [10]:
#string is defined as shown below (anything in the single comma or inverted comma is defined as string)
a="aayush"
type(a)

str

In [36]:
#example of a varibale
q= "aayush"
#here q is defined as variable

#                                                {next question start}  3

# 3. Describe three different data types.

In [12]:
a="aayush"              #string data type
b=45                    # int data type 
c=78.20                 # floAT data type
d= True               # BOOLEAN data type

In [13]:
type(a)

str

In [14]:
type(b)

int

In [15]:
type(c)

float

In [16]:
type(d)

bool

#                                         {next question start}  4

# 4. What is an expression made up of? What do all expressions do?

In [37]:
#example of expression is like this

q= (45*2)/10 

# here whole the thing written is called as expression because it contains
#operators (arithmetic oprators).

In [18]:
q

9.0

In [38]:
#expression generally do the specific task which is given to them with the help of operators defined in the expression.

# 5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [40]:
#statement is defined as below
statement = 10
# it does not contain any operator therefore it is defined   as statement

In [41]:
statement

10

In [20]:
#expression is defined as below 
expression = (70 + 50) *10
# it is defined as expression because it contains operators

In [21]:
expression

1200

#                                         {next question start}  6

# """6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1"""

In [22]:
bacon=22
bacon + 1

23

# """7. What should the values of the following two terms be?
      "spam"+"spamspam"
       spam* 3                                  """

In [24]:
"spam"+"spamspam"

'spamspamspam'

In [25]:
"spam"*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [34]:
#because var name cannot start with a numerical value, therefore eggs is a valid variable name and 100 is invalid
#because 100 is a numerical value

In [46]:
eggs="chicken"

In [47]:
eggs

'chicken'

In [48]:
10="aayush"

SyntaxError: cannot assign to literal (Temp/ipykernel_4432/4197983790.py, line 1)

In [49]:
#this errror is occuring bcz we cannot decalare variable starting with a number

# 9. What three functions can be used to get the integer, floating-point number, or string
#version of a value?

In [42]:
a="aayush"
b=3
c=2.4

In [43]:
str(b)+a

'3aayush'

In [44]:
int(c)+b

5

In [45]:
float(b)+ c

5.4

# 10. Why does this expression cause an error? How can you fix it?
#            "I have eaten"+ 99 + "burritos"

In [30]:
#this is causing an error because 99 cannot add with remaining two string ,therefore we have to aplly str function

In [35]:
 "I have eaten   "   + str(99) +    "    burritos        "

'I have eaten   99    burritos        '